HIKVISION_HOST=https://192.168.4.252
HIK_APP_KEY=your_app_key
HIK_SECRET=your_secret

HUMAND_BASE=https://api-prod.humand.co
HUMAND_TOKEN=Basic xxxxxxxxx

# Optional runtime settings
DRY_RUN=true
SEND_INTERVAL_SECONDS=60
